In [17]:
import pandas as pd
fb = pd.read_csv('data/microsoft_daily.csv', index_col=[0])

In [18]:
print(fb.iloc[0, 0])

$232.9

In [24]:
fb.head()

           Close/Last    Volume      Open     High      Low
Date
09/30/2022     $232.9  35694830   $238.29  $240.54  $232.73
09/29/2022     $237.5  27484230   $238.89  $239.95  $234.41
09/28/2022    $241.07  29029680   $236.81  $242.33  $234.73
09/27/2022    $236.41  27018730   $239.98   $241.8   $234.5
09/26/2022    $237.45  27694190  $237.045  $241.45   $236.9

In [26]:
fb.loc['09/30/2022', 'Open']

'$238.29'